@font-face {
font-family: "Slim Wandals";
src: url('https://starguiders.github.io/archivethings/KIKI/FONTS/Slim_Wandals/SlimWandals_PERSONAL.ttf') format('truetype');
font-style: normal;
font-weight: normal;
}

@font-face {
font-family: "Slim Wandals Elements";
src: url('https://starguiders.github.io/archivethings/KIKI/FONTS/Slim_Wandals/SlimWandalsElement_PERSONAL.ttf') format('truetype');
font-style: normal;
font-weight: normal;
}

@font-face {
font-family: "Slim Wandals Alt";
src: url('https://starguiders.github.io/archivethings/KIKI/FONTS/Slim_Wandals/SlimWandalsAlt_PERSONAL.ttf') format('truetype');
font-style: normal;
font-weight: normal;
}
