@font-face {
  font-family: "Saoirse";
  src: url('https://starguiders.github.io/archivethings/SAOIRSE/FONTS/Jabin/Jabin-Typeface.ttf');
  format('truetype');
  font-style: normal;
  font-weight: normal;
}
