
#saoirsesig {
  width: calc(304px + (7px * 2));
  height: calc(194.5px);
  margin: 0 auto;
  outline: var(--border2);
  outline-offset: 1px;
  box-sizing: border-box;
  border: 14px solid var(--dbckg0);
  border-top-width: 7px;
  border-bottom-width: 7px;
  position: relative;
  z-index: 1;
  &:before {
    content: "";
    position: absolute;
    width: calc(100% + (7px * 2));
    height: calc(100% + (16px * 2));
    border: var(--border2);
    z-index: 1;
  }
  & * {
    box-sizing: border-box;
    transition: 1s;
  }
  & br {
    display: none!important;
  }
  &>div {
    width: 100%;
    height: 100%;
    border: var(--border2);
    position: relative;
    overflow: hidden;
    & .saosigimg {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 1;
      overflow: hidden;
      filter: none;
      &>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        z-index: -3;
      }
      &:before, &:after {
        content: '';
        position: absolute;
        inset: 0;
        opacity: 0;
        transition: 1s;
      }
      &:before {
        background: var(--gm-color1);
        z-index:-1;
        mix-blend-mode:var(--gm-effect1);
      }
      &:after {
        background: var(--gm-color2);
        z-index:-1;
        mix-blend-mode:var(--gm-effect2);
      }
    }
    & .saosigtxt {
      position: absolute;
      padding: 40px;
      text-align: justify;
      text-align-last: center;
      display: flex!important;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 1;
      opacity: 0;
      &>i {
        font: 800 2.5rem 'Saoirse';
        line-height: normal;
        line-height: 100%;
        text-transform: lowercase;
        letter-spacing: 2px;
        color: var(--group);
        &:first-of-type {
          margin-bottom: 5px;
        }
      }
      &>b {
        position: absolute;
        font: 800 270px 'Saoirse Swash2';
        z-index: -1;
        line-height: 80%;
        color: transparent !important;
        text-shadow: 2px 2px 0px var(--group-25);
        -webkit-text-stroke: 1px #ffffff12;
        margin-bottom: 17px;
        opacity: 0.5;
      }
      &>div {
        text-transform: lowercase;
        font: normal 0.9rem 'Crimson Text';
        line-height: 120%;
        color: var(--text);
        & i {
          font-weight: 500;
          letter-spacing: .5px;
        }
        & strong {
          color: var(--group);
          font-weight: 800;
        }
        & u {
          font-weight: 700;
        }
        & strike {
          color: var(--text2);
        }
      }
    }
  }
  &:hover {
    & .saosigimg {
      &>img {
        filter: var(--gm-filter) var(--ft-blur-max) brightness(0.8);
        transform: scale(1.5) rotate(7deg);
      }
      &:before, &:after {
        opacity: 1;
      }
    }
    & .saosigtxt {
      opacity: 1;
    }
  }
}
