@font-face {
font-family: "Ruthless One";
src: url('https://starguiders.github.io/archivethings/KIKI/FONTS/Ruthless_One/RuthlessWreckin1.ttf') format('truetype');
font-style: normal;
font-weight: normal;
}

@font-face {
font-family: "Ruthless One";
src: url('https://starguiders.github.io/archivethings/KIKI/FONTS/Ruthless_One/RuthlessDrippin1.ttf') format('truetype');
font-style: bold;
font-weight: 700;
}
