.ficha.kiara {
& .bigdivider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 40px;
  box-sizing: border-box;
  position: relative;
  z-index: 0;
  min-height: 420px;
  outline: 1px solid #ffffff1a;
  outline-offset: -14px;
  border-radius: 30px;
  margin: 0 auto;
    &:before {
  content: "";
  background: url('https://images.unsplash.com/photo-1525711857929-4272fb4a040f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: grayscale(1) brightness(0.4) contrast(1.2);
  opacity: 0.3;
  }
  & br {display: none;}
  & h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  box-sizing: border-box;
  margin: 0px !important;
  padding: 0px !important;
  &>strong {
  font: normal 140px 'Kiki' !important;
  line-height: 80% !important;
  margin-bottom: -10px;
  color: transparent !important;
  text-shadow: 2px 2px 0px var(--group-50);
  -webkit-text-stroke: 0.7px #ffffff1a;
  text-transform: uppercase;
  }
  &>i {
  font: 700 var(--fs-deco) 'Oxanium' !important;
  line-height: 100% !important;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  color: var(--text);
    text-align: center;
  }
  }
  &>div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: relative;
  &:before {
  content: "(";
  }
  &:after {
  content: ")";
  }
  &:before, &:after {
  font: normal 300px 'Kiki' !important;
  line-height: 0!important;
  color: var(--text3);
  filter: opacity(0.4);
  }
  }
  }
  & .fcbheader.tw {
    text-transform: uppercase;
    border: var(--border2);
    color: var(--text);
    background: transparent;
    font: 600 var(--fs-smaller) 'Oxanium';
    margin: 0 auto;
    width: fit-content;
    max-width: 400px;
    text-align: center;
    line-height: 100%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &>* {
      padding: 8px;
      box-sizing: border-box;
    }
    &>strong {
      text-align: left;
      width: 100%;
      border-bottom: var(--border2);
      line-height: 80%;
      margin-top: 2px;
    }
    &>i {
      font-style: normal;
      text-align: justify;
      text-align-last: right;
      width: fit-content;
      align-self: end;
    }
  }
  & .fcdecof, & .fcdecof2 {
    width: 40%!important;
    min-width: 260px;
    gap: 0px;
    & b {
      font: 800 var(--fs-body) 'Oxanium' !important;
      line-height: 100%!important;
      margin-bottom: -4px!important;
    }
    & i {
      text-align-last: right;
      font: 600 0.7rem 'Oxanium';
      line-height: 100%;
    }
}
  & .fcdecof {
    margin-inline: auto;
    & b, & i {
      padding: 10px;
    }
    & em {
      margin-bottom: 12px!important;
    }
    & b {
      border: var(--border2);
      border-bottom: none!important;
      text-align: left;
    }
    & i {
      border: var(--border2);
    }
  }
  & .fcdecof2 {
    border: var(--border2);
    & b, & i {
      padding: 10px;
    }
    & em {
      border-right: var(--border2);
      align-self: stretch;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1.2rem;
      flex: 1;
    }
    & u {
      gap: 0px;
    }
    & i {
      border-top: var(--border2);
    }
  }
  & h2.post-content {
    font: 600 var(--fs-body) 'Oxanium' !important;
    line-height: 100%!important;
    padding: 30px !important;
    width: 50%;
    min-width: fit-content;
    border: 1px solid #ffffff1a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
    overflow: hidden;
    border-left-color: var(--group);
    border-right-color: var(--group);
        & i {
      position: absolute;
      z-index: -1;
      font: 800 140px 'Oxanium';
      white-space: nowrap;
      margin-top: 16px !important;
      color: transparent !important;
      text-shadow: 2px 2px 0px var(--border1-c);
      -webkit-text-stroke: 0.7px #ffffff1a;
      font-style: italic;
    }
    & strong {
      font-weight: 800;
      color: var(--group);
      letter-spacing: -.5px;
    }
}
  & h3.post-content {
    font: 800 var(--fs-h5) 'Oxanium'!important;
    display: flex;
    width: fit-content;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: var(--border2) !important;
    line-height: 100% !important;
    margin: 0 auto;
    text-align: center;
    letter-spacing: -1px;
    color: var(--group);
    gap: 1px;
    background: var(--border2-c);
    &:before, & span {
      padding: 10px 10px 7px 10px;
      background: var(--dbckg1);
    }
    &:before {
      content: '0'counter(h3title)'.';
      width: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--subtitle);
      counter-increment: h3title;
      align-self: stretch;
    }
    & span {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: left;
    }
  }
  & h4.post-content {
    font: 800 var(--fs-smaller) 'Oxanium'!important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: var(--border2) !important;
    line-height: 100% !important;
    margin: 0 auto;
    text-align: center;
    gap: 1px;
    background: var(--border2-c);
    & i, & span {
      background: var(--dbckg1);
      padding: 10px 9px 7px 9px;
    }
    & i {
      content: "";
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: stretch;
      color: var(--group);
      font-style: normal;
    }
    & span {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  & .fcbox {
  counter-reset: h3title;
      .fcbheader:not(.tw) {
      text-transform: uppercase;
      font: 700 var(--fs-smaller) 'Oxanium';
      line-height: 100%;
      border: var(--border2);
      width: fit-content;
      color: var(--group);
    }
}
  details[data-section="spoiler"] {
    & summary {
      background: var(--dbckg2);
      gap: .8em;
      font: 800 var(--fs-smaller) 'Oxanium';
      line-height: 100%;
      & em {
        margin-top: -2px;
        font-size: var(--fs-small);
      }
    }
    & [data-section="columns"] {
      font-size: 0.95rem;
      line-height: 140%;
      column-count: 2;
      column-gap: 20px;
      column-rule: var(--border2);
      column-width: 200px;
    }
  }
  .colcont {
    font-size: 0.95rem;
    line-height: 140%;
    column-gap: 20px;
    column-rule: var(--border2);
    column-width: 200px;
    &.twocol {
      column-count: 2;
    }
    &.threecol {
      column-count: 3;
    }
  }
}
