@font-face {
font-family: "Infancy";
src: url('https://starguiders.github.io/archivethings/KIKI/FONTS/Infancy/INFANCY.ttf') format('truetype');
src: url('https://starguiders.github.io/archivethings/KIKI/FONTS/Infancy/INFANCY.otf') format('opentype');
font-style: normal;
font-weight: normal;
}
